{
  "presets": ["es2015", "react"],
  "plugins": [
    "transform-react-jsx",
    "transform-decorators-legacy",
    "transform-object-rest-spread"
  ],
  "ignore": [
    "foo.js",
    "bar/**/*.js"
  ]
}