.article {
  display: block;
  max-width: 50rem;
  padding: 10px;
  margin: 5rem auto;
  transition: all 2s;
  animation: article-animation .6s linear;
  cursor: pointer;
}
.article-title {
  float: left;
  font-size: 1.5rem;
  font-weight: 200;
  color: #666;
  line-height: 3rem;
  transition: all .2s ease;
}
.article:hover {
  transform: translateX(-3px);
}
.article-summary {
  padding: 3px 0;
  font-size: 1rem;
  font-weight: 200;
  color: #333;
}
.article-date {
  line-height: 3rem;
  display: block;
  float: right;
  color: #ddd;
}
.pending-home {
  animation: pending-home 1.5s linear infinite;
  line-height: 1;
  margin: 10px 0;
  opacity: 1;
  color: #eaeaea;
  background-color: #eaeaea;
  transition: all 1s linear;
}
@keyframes pending-home {
  0% {
    transform: scale(1) translateY(0%);
    opacity: 1;
  }
  50% {
    transform: scale(.9) translateY(50%);
    opacity: 0;
  }
  0% {
    transform: scale(1) translateY(0%);
    opacity: 1;
  }
}
@keyframes article-animation {
  from {
    opacity: 0;
    transform: translate3d(0, -30%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}