.music-player {
  position: absolute;
  bottom: 10%;
  height: 80px;
  color: #fff;
  z-index: 20;
  transition: all 1s linear;
}
.cover {
  float: left;
  width: 80px;
  height: 80px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.control-player-container {
  cursor: pointer;
  float: left;
}
.control-play {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 80px;
  height: 80px;
  background-color: #fff;
}
.content {
  float: left;
  padding: 10px 30px;
  font-weight: lighter !important;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100%;
  transition: all 1s linear .4s;
  animation: content-animation 1s ease;
}
.title {
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 1.1;
  animation: title-animation 1s ease;
}
.artist {
  font-size: 1.1rem;
  line-height: 1.1;
  font-weight: lighter;
}
.control-play {
  position: relative;
  color: #333;
}
@keyframes title-animation {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    tarnsform: translateX(0);
  }
}
@keyframes content-animation {
  0% {
    opacity: 0;
    padding: 10px 20px;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    padding: 10px 30px;
    tarnsform: translateX(0);
  }
}
#bm {
  transform: scale(1.5);
}