.music-player {
  position: fixed;
  bottom: 10%;
  height: 80px;
  color: #fff;
  z-index: 20;
  transition: all .8s cubic-bezier(0.65, 0.02, 0.18, 0.66);
  box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
  white-space: nowrap;
}
.cover {
  position: relative;
  float: left;
  width: 80px;
  height: 80px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: cover-animatioin .6s linear;
  z-index: 100;
  cursor: pointer;
}
.control-player-container {
  position: relative;
  cursor: pointer;
  float: left;
  z-index: 90;
}
.control-play {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 80px;
  height: 80px;
  background-color: #fff;
  animation: control-play .6s linear;
}
.currentplaying {
  height: 100%;
  padding: 10px 30px;
  font-weight: lighter !important;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  transition: all 1s linear;
  animation: content-animation 1s ease;
}
.title {
  font-size: 1.4rem;
  font-weight: lighter;
  line-height: 1.3;
  animation: title-animation 1s ease;
}
.artist {
  font-size: 1rem;
  line-height: 1.3;
  font-weight: lighter;
}
.control-play {
  position: relative;
  color: #333;
}
@keyframes title-animation {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    tarnsform: translateX(0);
  }
}
@keyframes content-animation {
  0% {
    opacity: 0;
    padding: 10px 20px;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    padding: 10px 30px;
    tarnsform: translateX(0);
  }
}
#bm {
  transform: scale(1.5);
  animation: bm-animation 1s linear;
}
@keyframes cover-animatioin {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0)
  }
}
@keyframes control-play {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0)
  }
}
@keyframes bm-animation {
  0% {
    opacity: 0;
    transform: translateX(20%) scale(1.5);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1.5);
  }
}
/* player-content */
.player-content {
  height: 100%;
  float: left;
  position: relative;
  padding-left: 20px;
}
.player-content a {
  position: absolute;
  top: 0;
  left: 0;
  /* height: 100%; */
  width: 100%;
  padding: 10px 30px;
  font-weight: lighter !important;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-indent: 20px;
  transition: all 1s linear;
  box-shadow: -2px -2px 4px rgba(0,0,0,.2);
}
.player-content a::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0,0,0,.2);
  transform: scaleY(.5);
}
.player-content a:hover {
  transition: all .7s ease;
  width: 105%;
  padding: 10px 40px;
  filter: brightness(110%) !important;
}
.play-list-container div:hover {
  background-color: rgba(0,0,0,0.3);
}
.play-list-container {
  /* position: absolute; */
  /* top: 0px; */
}
/* player-fold */
.player-fold {
  position: relative;
  float: left;
  width: 20px;
  height: 100%;
}
.player-fold::after {
  content: '';
  position: absolute;
  top: 50%;
  /* left: 50%; */
  transform: translate(-50%, -50%) rotate(45deg);
  width: 10px;
  height: 10px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}
/* mini player */
.mini-player {
  position: fixed;
  left: 0;
  bottom: 10%;
}
@media screen and (max-width: 1100px) {
  .music-player {
    bottom: 15%;
  }
  .content {
    /* padding: 5px; */
  }
  .title {
    font-size: 1.1rem;
  }
  .cover {
    animation: none;
  }
  .control-play {
    animation: none;
  }
  .content {
    animation: none;
  }
  .title {
    animation: none;
  }
}
@media screen and (max-width: 320px) {
  .cover {
  }
}