.buttonStyle {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 1.5rem 2.3rem;
  margin: 1rem 0;
  cursor: pointer;
  transition: all .5s ease;
  transition-delay: .6s;
}
.heroSummary {
  font-size: 1.7rem;
  font-weight: 300;
  color: rgba(0,0,0,0.4);
  margin: 1rem 0;
}
.contentWrap {
  position: absolute;
  line-height: 1;
  margin-left: 8%;
  text-align: left;
}
.herotitle {
  position: relative;
  font-size: 5rem;
  color: #191919;
  text-indent: -0.2rem;
}
.adjectives {
  position: relative;
  color: #666;
}
.adjectives::after {
  content: '';
  margin: auto;
  position: absolute;
  right: -4px;
  top: 0;
  height: 1rem;
  width: 1px;
  height: 80%;
  background-color: #666;
  animation: cursorAnimation 1.5s step-end infinite;
}
@keyframes cursorAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
