.app, .page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 1s ease;
}
.container {
  width: 100%;
  height: 100%;
}
@media screen and (max-width:1100px) {
  .greet-flower-layout {
    display: none;
  }
  .greet-content-layout {
    width: 100%;
  }
}
@font-face {
  font-family: 'iconfont';  /* project id 510386 */
  src: url('//at.alicdn.com/t/font_510386_vo6ffysui4er8uxr.eot');
  src: url('//at.alicdn.com/t/font_510386_vo6ffysui4er8uxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_510386_vo6ffysui4er8uxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_510386_vo6ffysui4er8uxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_510386_vo6ffysui4er8uxr.svg#iconfont') format('svg');
}