.greet-flower {
  position: relative;
  width: 100%;
  height: 100%;
}
.fade-list {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.fade-list li {
  font-size: 2rem;
  color: #333;
  line-height: 3;
  letter-spacing: 1rem;
  animation: list-animation 1s ease;
  transition: all 1s;
}
@keyframes list-animation {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0)
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}
